/* .home-grid {
  margin: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
} */

.home-row {
  display: flex;
  align-items: center;
}

.home-row > div {
  margin: 10px;
  text-align: center;
}

h2 {
  font-size: 35px;
  font-weight: 600;
}

h3 {
  font-size: 35px;
}
.stat {
  font-size: 60px;
  color: var(--main-bg-color);
}
