.sidebar {
  /* Layout */
  /* height: 90%; */
  grid-area: sidebar;
  /* Styling */
  background-color: transparent;
  background-color: var(--main-bg-color);
}

.title {
  /* Layout */
  height: 50px;
  text-align: left;
  margin-left: 12px;
  padding-top: 15px;
  /* Style */
  color: white;
  font-size: 21px;
}
.sidebar-chart-list {
  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidebar-chart-item {
  /* Layout */
  margin: 5px 15px 5px 10px;
  border-radius: 10px;
  padding: 10px 5px 10px 20px;

  /* Styling */
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.931);
}

.sidebar-chart-item:hover {
  background-color: var(--main-light-color);
}

.selected-item {
  /* Styling */
  background-color: white !important; /* Override hover if selected */
  color: black;
}

.accordian {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.5em;
}

.active,
.accordian:hover {
  background-color: var(--main-light-color);
}
