.settings {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  background-color: transparent;
  overflow: hidden;
}

.category-settings {
  overflow: hidden;
}

.category-settings-body,
.tag-settings-body {
  height: 100%;
  overflow-y: scroll;
}

.commission-input {
  width: 50px;
  height: 12px;
}
